
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td><img
                  src="http://placehold.it/600x300"
                  alt border="0" style="margin: 0; padding: 0;"></td>
              </tr>
              <tr>
                <td height="25">&nbsp;</td>
              </tr>
            </table>

            <table width="100%" border="0" cellspacing="0" cellpadding="0"
                   style="border-collapse:collapse;border-bottom:1px solid #{{ background_color }}">
              <tr>
                <td width="3%">&nbsp;</td>
                <td style="color:#{{ text_color }};font-family:Lato, Arial, sans-serif;font-size:13px;line-height:16px">
                  <strong>{{ title }}</strong><br>
                  <br>
                  {{ introduction }}
                </td>
                <td width="3%">&nbsp;</td>
              </tr>
              <tr>
                <td height="25" colspan="3">&nbsp;</td>
              </tr>
            </table>