            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="3%">&nbsp;</td>
                <td>
                  <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td height="20">&nbsp;</td>
                    </tr>
                    <tr>
                      <td align="center"
                          style="color:#{{ text_color }};font-family:Lato, Arial, sans-serif;font-size:13px;line-height:17px">
                        {{ footer|safe }}
                      </td>
                    </tr>
                    <tr>
                      <td height="20">&nbsp;</td>
                    </tr>
                    <tr>
                      <td align="center"
                          style="color:#{{ link_color }};font-family:Lato, Arial, sans-serif;font-size:13px;line-height:17px">
                        <a href="{{ link1.url }}" target="_blank"
                           style="color:#{{ link_color }};text-decoration:underline">{{ link1.text }}</a>
                        &nbsp;&nbsp;|&nbsp;&nbsp;
                        <a href="{{ link2.url }}" target="_blank"
                           style="color:#{{ link_color }};text-decoration:underline">{{ link2.text }}</a>
                      </td>
                    </tr>
                    <tr>
                      <td height="15" style="font-size:1px;line-height:1px">&nbsp;</td>
                    </tr>
                    <tr>
                      <td align="center"
                          style="color:#{{ text_color }};font-family:Lato, Arial, sans-serif;font-size:13px;line-height:17px">
                        Copyright &copy; {{ year }} {{ company }}. All rights reserved.
                      </td>
                    </tr>
                    <tr>
                      <td height="20">&nbsp;</td>
                    </tr>
                    <tr>
                      <td>
                        <table width="103" border="0" cellspacing="0" cellpadding="0" align="center"
                               style="margin:0 auto">
                          <tr>
                            <td width="37" height="45" valign="top"
                                style="font-family:Lato, Arial, sans-serif;font-size:13px;line-height:17px"><a
                              href="{{ facebook.url }}" target="_blank"
                              style="color:#{{ link_color }};text-decoration:none"><img
                              src="{{ facebook.icon }}" width="29"
                              height="29" alt="f" title="facebook" style="border:none"></a></td>
                            <td width="37" valign="top"
                                style="font-family:Lato, Arial, sans-serif;font-size:13px;line-height:17px"><a
                              href="{{ twitter.url }}" target="_blank"
                              style="color:#{{ link_color }};text-decoration:none"><img
                              src="{{ twitter.icon }}" width="29"
                              height="29" alt="t" title="twitter" style="border:none"></a></td>
                            <td width="29" valign="top"
                                style="font-family:Lato, Arial, sans-serif;font-size:13px;line-height:17px"><a
                              href="{{ youtube.url }}" target="_blank"
                              style="color:#{{ link_color }};text-decoration:none"><img
                              src="{{ youtube.icon }}" width="29"
                              height="29" alt="y" title="youtube" style="border:none"></a></td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                </td>
                <td width="3%">&nbsp;</td>
              </tr>
            </table>

