            <table width="100%" bgcolor="#{{ topbar_color }}" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="3%" height="30">&nbsp;</td>
                <td style="font-family:Arial, sans-serif;font-size:13px;line-height:17px">
                  <a href="{{ link0.url }}" target="_blank" style="color:#{{ link_color }};text-decoration:underline">{{ link0.text }}</a>
                </td>
                <td width="19" style="font-family:Arial, sans-serif;font-size:13px;line-height:17px">
                  <a href="{{ facebook.url }}" target="_blank" style="color:#{{ link_color }};text-decoration:none"><img
                  src="{{ facebook.icon }}" width="19" height="18"
                  alt="f" title="facebook" style="display:block;border:none"></a></td>
                <td width="8">&nbsp;</td>
                <td width="19" style="font-family:Arial, sans-serif;font-size:13px;line-height:17px"><a
                  href="{{ twitter.url }}" target="_blank" style="color:#{{ link_color }};text-decoration:none"><img
                  src="{{ twitter.icon }}" width="19" height="18"
                  alt="t" title="twitter" style="display:block;border:none"></a></td>
                <td width="8">&nbsp;</td>
                <td width="19" style="font-family:Lato, Arial, sans-serif;font-size:13px;line-height:17px"><a
                  href="{{ youtube.url }}" target="_blank"
                  style="color:#{{ link_color }};text-decoration:none"><img
                  src="{{ youtube.icon }}" width="19" height="18"
                  alt="y" title="youtube" style="display:block;border:none"></a></td>
                <td width="3%">&nbsp;</td>
              </tr>
            </table>