{% extends "admin/base_site.html" %}
{% load staticfiles %}

{% block extrahead %}{{ block.super }}{{ form.media }}{% endblock %}

{% block bodyclass %}email-edit{% endblock %}

{% block content %}

  {% if form %}
    <div class="change-form">
      <form method="post" id="send_notification_form">
        {% csrf_token %}
        <div class="module">
        	<table id="edit-email">{{ form }}</table>
        </div>
        <input id="send_notification_button" class="form-input-button" type="submit" name="submitButton" value="Send" />
      </form>
    </div>
    <script>
        $(function(){
            $('#send_notification_form').submit(function(){
                $('#send_notification_button').attr('disabled', true).val('Loading...').css('background', 'grey');
            })
        })
    </script>
  {% endif %}
{% endblock %}


