{% extends "notifier_templates/base_email.html" %}

{% block topbar %}
  <table width="100%" bgcolor="#{{ topbar_color }}" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td width="3%" height="10">&nbsp;</td>
      <td width="3%">&nbsp;</td>
    </tr>
  </table>
{% endblock %}

{% block content %}

  <table width="100%" border="0" cellspacing="0" cellpadding="0"
         style="border-collapse:collapse;border-bottom:1px solid #{{ background_color }}">
    <tr>
      <td width="3%">&nbsp;</td>
      <td>
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td height="20">&nbsp;</td>
          </tr>
          <tr>
            <td height="20">{{ html|safe }}</td>
          </tr>
          <tr>
            <td height="20">&nbsp;</td>
          </tr>

        </table>
      </td>
      <td width="3%">&nbsp;</td>
    </tr>
  </table>

{% endblock %}

{% block footer %}

  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td width="3%">&nbsp;</td>
      <td>
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td height="20">&nbsp;</td>
          </tr>
          <tr>
            <td align="center"
                style="color:#{{ text_color }};font-family:Lato, Arial, sans-serif;font-size:13px;line-height:17px">
              {{ footer|safe }}
            </td>
          </tr>
          <tr>
            <td height="20">&nbsp;</td>
          </tr>
          <!-- <tr>
            <td align="center"
                style="color:#{{ link_color }};font-family:Lato, Arial, sans-serif;font-size:13px;line-height:17px">
              <a href="{{ link1.url }}" target="_blank"
                 style="color:#{{ link_color }};text-decoration:underline">{{ link1.text }}</a>
              &nbsp;&nbsp;|&nbsp;&nbsp;
              <a href="{{ link2.url }}" target="_blank"
                 style="color:#{{ link_color }};text-decoration:underline">{{ link2.text }}</a>
            </td>
          </tr> -->
          <tr>
            <td height="15" style="font-size:1px;line-height:1px">&nbsp;</td>
          </tr>
          <tr>
            <td align="center"
                style="color:#{{ text_color }};font-family:Lato, Arial, sans-serif;font-size:13px;line-height:17px">
              Powered by <a href="http://{{ site_url }}" target="_blank" style="color:#522E40;text-decoration:none">{{ company }}</a>
            </td>
          </tr>
        </table>
      </td>
      <td width="3%">&nbsp;</td>
    </tr>
  </table>



{% endblock %}